models/
out/
6m/*
picking_models/
others/
test/*
seismonitor_dataset/
**/hypocenter/core
**/__pycache__
**/hypoDD/core
**/nlloc/core
**/nlloc/test*
**/nlloc/TEST*
**/NLLoc_grid/*
**/EQTransformer/*
**/PhaseNet/*
**/OUTPUT
build/
dist/
SeisMonitor.egg-info/
./time_tracks*
x.input
analisis/
test/out/*
seismonitor.egg-info