_*/
out/
**/hypocenter/core
**/hypoDD/core
**/nlloc/core
**/nlloc/test*
**/nlloc/TEST*
**/NLLoc_grid/*
**/EQTransformer/*
**/PhaseNet/*
**/OUTPUT
build/
dist/
SeisMonitor.egg-info/
time_tracks.pkl
x.input
analisis/