_*/
models/
out/
6m/
others/
seismonitor_dataset/
**/hypocenter/core
**/__pycache__
**/hypoDD/core
**/nlloc/core
**/nlloc/test*
**/nlloc/TEST*
**/NLLoc_grid/*
**/EQTransformer/*
**/PhaseNet/*
**/OUTPUT
build/
dist/
SeisMonitor.egg-info/
./time_tracks*
x.input
analisis/