obspy
pytest 
pyproj
GitPython
matplotlib 
pandas
tqdm
tensorflow==2.15
keras>=2.12
numpy >= 1.23
keyring >=15.1 
pkginfo>=1.4.2
scipy>=1.4.1 
h5py>=3.8 
gmma
EQTransformer


# keras == 2.3.1
# EQTransformer==0.1.59
#protobuf
#gmma @ git+https://github.com/wayneweiqiang/GaMMA.git@1a5a5371c294727d2f814bcfd48f73bde94627b4
#EQTransformer @ git+https://github.com/ecastillot/EQTransformer.git@master

