obspy
pytest 
pyproj
GitPython
matplotlib 
pandas
tqdm
scipy
pexpect
sphinx
sphinx_rtd_theme
tensorflow==2.15
keras==2.15
numpy~=1.24
keyring >=15.1 
pkginfo>=1.4.2
h5py>=3.8 
# gmma
# EQTransformer


# keras == 2.3.1
# EQTransformer==0.1.59
#protobuf
#gmma @ git+https://github.com/wayneweiqiang/GaMMA.git@1a5a5371c294727d2f814bcfd48f73bde94627b4
#EQTransformer @ git+https://github.com/ecastillot/EQTransformer.git@master

